<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
         {# <link href="{{ asset('bundles/combccms/css/main.css') }}" rel="stylesheet" />
         <link href="{{ asset('bundles/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
         <link href="{{ asset('bundles/bootstrap/css/bootstrap-theme.min.css') }}" rel="stylesheet" /> #}
        {% block stylesheets %}
           
        {% endblock %}
       
        {#<script src="http://code.jquery.com/jquery-latest.min.js"
            type="text/javascript"></script>
        <script src="{{ asset('bundles/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/combccms/js/main.js') }}"></script>#}
        {% block javascripts %}
            
            
        {% endblock %}
        <title>
            {% block title %}
            
            {% endblock %}
        </title>
    </head>
    <body>
        {% block body %}
            
        {% endblock %}
    </body>
</html>